# =============== #
# Unity folders #
# =============== #
Game4Fun/[Ll]ibrary/
Game4Fun/[Tt]emp/
Game4Fun/[Oo]bj/
Game4Fun/3rdParty/
Game4Fun/Builds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Game4Fun/ExportedObj/
Game4Fun/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ===================================== #
# Unity generated #
# ===================================== #
*.pidb.meta
sysinfo.txt

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db