# =============== #
# Unity generated #
# =============== #
Game4Fun/Temp/
Game4Fun/Obj/
Game4Fun/UnityGenerated/
Game4Fun/Library/*
Game4Fun/Assets/AssetStoreTools*
Game4Fun/Builds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Game4Fun/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db